body {
    background-color: #F4EAD3; /* Fondo beige claro para el cuerpo */
    font-family: Arial, sans-serif; /* Fuente para el cuerpo */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    
}

.pokemon {
    background-color: #D8F3DC; /* Fondo naranja claro para los contenedores de Pokémon */
    color: #333; /* Texto en color gris oscuro */
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
h1{
    text-align: center;
}

#entrenadores{
    text-align: center;

}